
@{
    ViewBag.Title = "Annoucement";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Update</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<h3 class="text-center">Comming Soon</h3>
<br />
<br />
<br />
<br />
<br />
<br />