
@{
    ViewBag.Title = "Fees";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

<style>
    .table-bordered {
        background-color: white;
        border: 5px solid black;
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 20px;
        width: 330px;
        padding: 10px;
        min-height: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    th, tr, td {
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 20px;
    }

    h1 {
        text-align: center;
        font-family: 'Times New Roman';
    }
</style>

<div class="container mt-3">
    <h1>Fees Structure</h1>
    <br />
    <table class="table table-bordered">
        <tr>
            <th> No</th>
            <th> PARTICULARS</th>
            <th> Amount </th>

        </tr>
        <tr>
            <td>1</td>
            <td>Deposite </td>
            <td>5000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Room Fees </td>
            <td>2000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Mess Fees </td>
            <td>3000</td>
        </tr>
        <tr>
            <td>4</td>
            <td> Electricity bill </td>
            <td>2000</td>
        </tr>
        <tr>
            <td>5</td>
            <td> Total </td>
            <td>12000</td>
        </tr>
    </table>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

