
@{
    ViewBag.Title = "Foodmenu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style>
    h1 {
        text-align: center;
        font-family: 'Times New Roman';
    }

    .table-striped {
        background-color: white;
        border: 5px solid black;
    }

    th, tr, td {
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 20px;
    }
</style>
<div class="container mt-3">
    <h1>Food Menu</h1>
    <table class="table table-striped">
        <tr>
            <th>             </th>
            <th> BREAKFAST <br />(06:30am to 09:30am)</th>
            <th> LUNCH <br />(01:00pm to 03:00pm)</th>
            <th> DINNER <br />(08:00pm to 10:00pm)</th>
        </tr>
        <tr>
            <td><b> MONDAY</b></td>
            <td> Tea, Coffee,<br /> Bread butter, Bread jam<br /></td>
            <td> Aloo Mutter, Black Chana, Roti,<br /> Dal, Rice,Papad,<br> Pickle, Buttermilk</br></br/></td>
            <td> Sev-tomato, Paratha,<br> Pickle, Buttermilk</br></td>

        </tr>
        <tr>
            <td><b> TUESDAY</b></td>
            <td> Tea, Coffee,<br> Poha</br></td>
            <td> Tindora Batata, Mug, Roti,<br> Dal, Rice, Papad,<br> Pickle, Buttermilk</br></br></td>
            <td> Veg.Kolhapuri, Roti, Veg.Biriyani,<br> Salad, Buttermilk</br></td>

        </tr>
        <tr>
            <td><b> WEDNESDAY</b></td>
            <td> Tea, Coffee,<br> Jalebi, Fafada</br></td>
            <td> Bhindi, Vaal, Roti,<br> Dal, Rice, Papad,<br> Pickle, Buttermilk</br></br></td>
            <td> Dhosa, Idli, Sambhar,<br> Coconut Chutney</br></td>

        </tr>
        <tr>
            <td><b> THURSDAY</b></td>
            <td> Tea, Coffee,<br> Veg.Upma</br></td>
            <td> Cabbage, Rajma, Roti,<br> Dal, Rice, Papad,<br> Pickle, Buttermilk</br></br></td>
            <td> Chhole-Bhature, Salad,<br> Pickle, Buttermilk</br></td>

        </tr>
        <tr>
            <td><b> FRIDAY</b></td>
            <td> Tea, Coffee, Bornvita,<br> Biscuit</br></td>
            <td> Cauliflower, Muth, Roti,<br> Dal, Rice,<br> Patra, Buttermilk</br></br></td>
            <td> Baingan ka Bharta, Rotlo,<br> Khichadi, Kadhi,<br> Garlic Chutney, Buttermilk</br></br></td>

        </tr>
        <tr>
            <td><b> SATURDAY</b></td>
            <td> Tea, Coffee,<br> Thepla, Pickle</td>
            <td> Baingan Batata, Kabuli Chana, Roti,<br> Dal, Rice, Papad,<br> Pickle, Buttermilk</br></br></td>
            <td> Paneer Bhurgi, Paratha, Salad,<br> Papad, Pickle, Buttermilk</br></td>

        </tr>
        <tr>
            <td><b> SUNDAY</b></td>
            <td> Tea, Coffee,<br> Dhokla</br></td>
            <td> Undhyu, Puri,<br> Dal, Rice, Gulab Jamun,<br> Papad, Pickle, Buttermilk</br></br></td>
            <td> Pav-Bhaji, Pulaav,<br> Salad, Garlic Chutney,<br> Papad, Buttermilk</br></br></td>

        </tr>
    </table>
</div>



