
@{
    ViewBag.Title = "Indexxx";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="~/Theme/css/styles.css" rel="stylesheet" />

<header @*class="masthead"*@>

    <div class="carousel-inner">
        <div class="d-flex justify-content-center">
          
            <img src="~/image/Hostel Management-01 (1).jpg" style=" height: 600px; width: 200%;" class="img-responsive" />

        </div>
    </div>

</header>

<section class="projects-section bg-light" id="about">
    <div class="container px-4 px-lg-5">

        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">

            <div class="col-xl-7 col-lg-7"><img class="img-responsive mb-3 mb-lg-0" src="~/image/16_05_17_111634_bmch_college.jpg" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>About </h4>
                    <p class="text-black-50 mb-0">
                        Shree Saurashtra Patel Kelavani Mandal (SSPKM) is accomplishing wonderful task by providing opportunity to the students of Saurashtra through the medium of accommodation in huge city like Ahmedabad and encouraging them to pursue higher and better education.
                        It aims at providing comfortable, hygienic accommodations with assured quality standards at affordable rates.
                        All in all, the hostel life in SSPKM is one of the most enviable among the student community, providing students with conducive atmosphere for learning and personal development.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="facilities-section bg-light" id="facilities">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="~/image/OIP (5).jpg" style="height: 400px; width: 100%;" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Library Facility</h4>

                            <p class="mb-0 text-white-50">
                                A huge 24 X 7 hours open library is provided in both the hostels. It is well lighted and ventilated. It provides a peaceful environment to the students to achieve their respective goals. Some novels, magazine, and books are also available to borrow and read to acquire more than bookish knowledge<br>

                            </p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="~/image/1600404809_photo_documents.jpg" style="height: 400px; width: 100%;" alt="..." />

            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Room Facility</h4>

                            <p class="mb-0 text-white-50">
                                Girls Hostel is of five floors. Every floor has 47 rooms plus a rector roomand a small passage for gathering. Each room has capacity of four girls. Room includes bed with drawer, book shelf, shoes rack, study table with revolving chair and cupboard for each student. Rooms have attached bathroom and washroom. And last but not the least a huge mirror which complements theperfect room a girl would need..<br>

                            </p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</section>