
@{
    ViewBag.Title = "Rule";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Rules</h2>

<style>
    p {
        
        font-family: 'Times New Roman';
        font-size: 23px;
    }
</style>
<div class="form-control">
    <p>
        1.Students must turn off all the electrical equipments & lights before leaving their rooms.
    </p>

    <p>   2.Students are not allowed to use electric stoves, heaters etc in rooms except in designated places. </p>
    <p>
        3.Outside Guest  Not Allowed.
    </p>
    <p>
        4.Visitors are allowed only in AV Room between: 4:30 p.m. and 6:30 p.m. Visitors are not allowed beyond the visiting area. No outside Guest\Students will be allowed inside the hostel.
    </p>
        <p>
        5.Food will be served only in the designated Dining Hall(s) and only during the specified timings. Wasting food & water will not be encouraged.
    </p>
    <p>
        6.Late comers will be penalized.
    </p>
    <p>
        7.Any complaints regarding electric equipment, plumbing etc., is required to be entered in the ‘Complaints Book’.
    </p>
    <p>
        <h3>
            Entry Time
        </h3>
        Mondays to Friday – 5.00 PM to 8.00 PM.
        Saturday & Sundays – 10.00 a.m. – 12.00 noon & 5.00 PM to 8.00 PM.
    </p>
</div>